    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Hyperledger Challenge 2022</h2>
              <br/>
                <p>The Hyperledger Foundation is launching Hyperledger Challenge to harness the power of communities to ideate, develop, and launch innovative solutions developed using open-source technologies.</p>
                <br/>
              </div>
        </div>
    </section>
