    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Hyperledger Challenge 2022</h2>
              <br/>
                <p>The Hyperledger Foundation is launching Hyperledger Challenge to harness the power of communities to ideate, develop, and launch innovative solutions developed using open-source technologies.</p>
                <p>Any innovation that advances the current state-of-the-art of enterprise-grade distributed ledger technologies leveraging one or more Hyperledger projects is eligible for the Hyperledger Challenge.</p> 
                <p>Innovators competing in the challenges will have access to training, mentors and the Hyperledger community to support the development of their solution. The Hyperledger community is committed to be a driving force to incorporating Diversity, Civility, and Inclusion into programs.</p>
              <br/>
              </div>
        </div>
    </section>
