    <!-- Challenge Section -->
    <section id="challenge" class="container content-section" >
        <div class="row">
            <div class="col-lg-4 col-sm-6 content-section-a" style="padding-left: 10px;padding-right: 10px;">              
              <h2 class="section-heading" style="text-align: center;">Challenge Round 1:<br> Ideate</h2>
              <hr class="section-heading-spacer" style="float:none"><br/>
              <div class="lead">
                <p><strong>Innovators IDENTIFY a concept</strong> that advances the current state-of-the-art of enterprise-grade distributed ledger technologies leveraging one or more Hyperledger projects. The proposed concept must clearly articulate a solution-market fit where the solution fulfills a market need.</p>
                <h3 id="prizes">Prizes</h3>
                <ul>
                 <li>Participants in the ideate phase will be given feedback on their submission, access to training courses, and matched with mentor(s) based on the identified need to support the development of their prototype solution.</li>
                </ul>
              </div>
           </div>
           <div class="col-lg-4 col-sm-6 content-section-b" style="padding-left: 10px;padding-right: 10px;">
              <h2 class="section-heading" style="text-align: center;">Challenge Round 2:<br> Prototype</h2>
              <hr class="section-heading-spacer" style="float:none"><br/>
              <div class="lead">
               <p><strong>Innovators DEVELOP to prototype</strong> their proposed solution that sufficiently proves the critical functionality. The prototype must sufficiently demonstrate that the solution will fulfill a market need that sustains its follow-on development.</p>
               <h3 id="prizes">Prizes</h3>
               <ul>
                 <li>Winners of the prototype challenge will have their project featured as a Linux Foundation Crowdfunding project and Hyperledger Lab project for follow-on collaborative development.</li>
                 <li>Winners will also be provided marketing support including the opportunity to demonstrate their solution to the Technical Steering Committee, Special Interest Groups, and promotion across Hyperledger channels.</li>
               </ul>
              </div>
          </div>
            <div class="col-lg-4 col-sm-6 content-section-a" style="padding-left: 10px;padding-right: 10px;">
              <h2 class="section-heading" style="text-align: center;">Challenge Round 3:<br> Launch</h2>
              <hr class="section-heading-spacer" style="float:none"><br/>
              <div class="lead">
               <p><strong>Innovators COLLABORATE to build</strong> an ecosystem around their software solutions. Innovators will be evaluated based on the impact of their solution for successful commercial adoption.</p>
               <h3 id="prizes">Prizes</h3>
               <ul>
                 <li>Winners of the Launch challenge will receive a travel scholarship to attend Hyperledger Global Forum 2022. This will be an unique opportunity to demonstrate your solutions before a global community.</li>
                 <li>Runner-ups will receive Hyperledger Certification voucher.</li>
                </ul>
              </div>
           </div>
        </div>
    </section>
