    <!-- About Section -->
    <section id="eligibility" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <br/><br/>
              <h2>Eligibility</h2>
              <ul style="text-align: justify;">
                <li>Teams who have any affiliation with a member of the evaluation committee will not be allowed to participate in the Challenge.</li>
                <li>Employees of an organization that co-sponsors the Hyperledger Challenge are not eligible to participate.</li>
                <li>All participating teams will be required to follow the open-source license requirement for projects and associated code developed during the challenges as detailed here: https://www.hyperledger.org/about/charter</li>
                <li><u>License Requirement</u>: “All Hyperledger software must be made available under an Apache 2.0 license. This applies to lab projects in which Hyperledger Challenge projects will be hosted under. Please, make sure to license all incoming code and new code accordingly, and ensure that all commits are made with proper sign-off so that no DCO related issue is introduced.”</li>
                <li><u>Code of Conduct</u>: “All Hyperledger community members must adhere to the Code of Conduct”</li>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12 content-section-a" style="padding-left: 10px;padding-right: 10px;">              
              <h2 class="section-heading" style="text-align: center;">Round 1 Eligibility:<br> Ideate</h2>
              <hr class="section-heading-spacer" style="float:none"><br/>
              <div class="lead">                
                <ul>
                 <li>Only winners of the Ideate Challenge may be eligible to compete in the Launch Challenge.</li>
                 <li>At least one representative for each team must participate in the Launch Challenge Showcase Event. The Launch Challenge Showcase Event will be held virtually.</li>
                </ul>
              </div>
           </div>
           <div class="col-lg-4 col-sm-12 content-section-b" style="padding-left: 10px;padding-right: 10px;">
              <h2 class="section-heading" style="text-align: center;">Round 2 Eligibility:<br> Prototype</h2>
              <hr class="section-heading-spacer" style="float:none"><br/>
              <div class="lead">
               <ul>
                 <li>Only winners of the Ideate Challenge may be eligible to compete in the Prototype Challenge.</li>
                 <li>At least one representative for each team must participate in the Prototype Challenge Showcase Event. The Prototype Challenge Showcase Event will be held virtually.</li>
               </ul>
              </div>
          </div>
            <div class="col-lg-4 col-sm-12 content-section-a" style="padding-left: 10px;padding-right: 10px;">
              <h2 class="section-heading" style="text-align: center;">Round 3 Eligibility:<br> Launch</h2>
              <hr class="section-heading-spacer" style="float:none"><br/>
              <div class="lead">
               <ul>
                 <li>Only winners of the Prototype Challenge may be eligible to compete in the Launch Challenge.</li>
                 <li>At least one representative for each team must participate in the Launch Challenge Showcase Event. The Launch Challenge Showcase Event will be held virtually.</li>
                </ul>
              </div>
           </div>
        </div>
    </section>
