    <!-- Timelines Section -->
    <section id="timelines" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <br/><br/>
              <h2>Event Timeline</h2>
              <!--Timeline starts-->
              <div class="timeline">
                <!--January 22-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">18 January, 2022</h3>
                      </div>
                      <div class="panel-body">Ideate submission opens
                      </div>
                    </div>
                  </div>
                </div>

                <!--March 1: Ideate submission ends-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">1 March, 2022</h3>
                      </div>
                      <div class="panel-body">Ideate submission closes
                      </div>
                    </div>
                  </div>
                </div>
              
              
              </div>
              <!--Timeline ends-->
        </div>
        </div>
    </section>
