    <!-- Timelines Section -->
    <section id="timelines" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <br/><br/>
              <h2>Event Timeline</h2>
              <!--Timeline starts-->
              <div class="timeline">
                <!--January 22-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">18 January, 2022</h3>
                      </div>
                      <div class="panel-body">Ideate submission opens
                      </div>
                    </div>
                  </div>
                </div>

                <!--March 1: Ideate submission ends-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">1 March, 2022</h3>
                      </div>
                      <div class="panel-body">Ideate submission closes
                      </div>
                    </div>
                  </div>
                </div>

                <span class="timeline-label">
                  <span class="label label-info">Ideate Submission Evaluations</span>
                </span>
                  
                  
                <!--March 14: Ideate submission evaluation and mentor assignment-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">14 March, 2022</h3>
                      </div>
                      <div class="panel-body">Ideate : Results & Mentor Assignments
                      </div>
                    </div>
                  </div>
                </div>

                <!--March 15: Prototype begins-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">15 March, 2022</h3>
                      </div>
                      <div class="panel-body">Prototype Begins
                      </div>
                    </div>
                  </div>
                </div>

                <!--May 10: Prototype ends-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">10 May, 2022</h3>
                      </div>
                      <div class="panel-body">Prototype Ends
                      </div>
                    </div>
                  </div>
                </div>

                <span class="timeline-label">
                  <span class="label label-info">Prototype Submission Evaluations</span>
                </span>
  
                  
                <!--May 24: Prototype Winners Announcement-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">24 May, 2022</h3>
                      </div>
                      <div class="panel-body">Prototype Winners Announcement
                      </div>
                    </div>
                  </div>
                </div>

                <!--May 25: Launch begins-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">25 May, 2022</h3>
                      </div>
                      <div class="panel-body">Launch Begins
                      </div>
                    </div>
                  </div>
                </div>
                  
                <!--July 19: Launch ends-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">19 July, 2022</h3>
                      </div>
                      <div class="panel-body">Launch Ends
                      </div>
                    </div>
                  </div>
                </div>

                <span class="timeline-label">
                  <span class="label label-info">Launch Submission Evaluations</span>
                </span>
                  
                <!--August 2: Announce Challenge Winners-->
                <div class="timeline-item timeline-item-arrow-sm">
                  <div class="timeline-point timeline-point-primary">
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="timeline-event timeline-event-primary">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">2 August, 2022</h3>
                      </div>
                      <div class="panel-body">Challenge Winners Announcement
                      </div>
                    </div>
                  </div>
                </div>
                  
                  
                <span class="timeline-label">
                  <span class="label label-info"><i class="fa fa-trophy"></i></span>
                </span>    
              
              </div>
              <!--Timeline ends-->
        </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            </div>
        </div>
    </section>
