    <!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/css/2022_style/img/icon-about.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Themes, Phases, Eligibility</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Read more about our Themes, Phases, Eligibility</p>
                                </div>
                                <a href="https://wiki.hyperledger.org/display/events/Hyperledger+Challenge+2022" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/css/2022_style/img/icon-agenda.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Timelines</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Check out the timelines for the challenge</p>
                                </div>
                                <a href="/2022/agenda" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/css/2022_style/img/icon-team.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Team</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Find mentors, subject matter experts and community champions</p>
                                </div>
                                <a href="/2022/team" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/css/2022_style/img/icon-venue.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Location Help</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Learn more about what timezones work best to reach us out</p>
                                </div>
                                <a href="/2022/venue" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/css/2022_style/img/icon-faq.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>FAQs</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Have a Question? Many answers can be found right here in our FAQs</p>
                                </div>
                                <a href="https://wiki.hyperledger.org/display/events/FAQs" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
