    <!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-icon"><i class="fa fa-info"></i></div>
                                <h3 class="title">Themes, Phases, Eligibility</h3>
                                <p class="description">
                                    To know about our Themes, Phases, Eligibility
                                </p>
                                <a href="https://wiki.hyperledger.org/display/events/Hyperledger+Challenge+2022" class="page-scroll btn btn-sm">Click here</a>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="timeline-icon"><i class="fa fa-calendar"></i></div>
                                <h3 class="title">Timelines</h3>
                                <p class="description">
                                   To Check out the timelines for the challenge
                                </p>
                                <a href="/2022/agenda" class="page-scroll btn btn-sm">Click here</a>
                            </div> 
                        </div>
                        <div class="timeline">
                            <div href="#" class="timeline-content">
                                <div class="timeline-icon"><i class="fa fa-group"></i></div>
                                <h3 class="title">Team</h3>
                                <p class="description">
                                   To Find mentors, subject matter experts and community champions
                                </p>
                                <a href="/2022/team" class="page-scroll btn btn-sm">Click here</a>
                            </div>
                        </div>
                        <div class="timeline">
                            <div href="#" class="timeline-content">
                                <div class="timeline-icon"><i class="fa fa-map-marker"></i></div>
                                <h3 class="title">Location Help</h3>
                                <p class="description">
                                    Find what timezones work best to reach us out
                                </p>
                                <a href="/2022/venue" class="page-scroll btn btn-sm">Click here</a>
                            </div>
                        </div>
                        <div class="timeline">
                            <div href="#" class="timeline-content">
                                <div class="timeline-icon"><i class="fa fa-question"></i></div>
                                <h3 class="title">FAQs</h3>
                                <p class="description">
                                    Have a Question? Many answers can be found right here in our FAQs
                                </p>
                                <a href="https://wiki.hyperledger.org/display/events/FAQs" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
