<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Challenge Overview</h2>
                </div>
            </div>
            <div class="row container">
                <p>The Hyperledger community is launching the Hyperledger
                    Challenge to harness the power of communities to ideate,
                    develop, and launch innovative solutions developed using
                    open-source technologies. Any innovation that advances the
                    current state-of-the-art of enterprise-grade distributed
                    ledger technologies leveraging one or more
                    <a href="https://start-here.hyperledger.org/projects.html">Hyperledger projects</a>
                    is eligible for the Hyperledger Challenge.</p>
                
                <p>The Challenge will feature three rounds, called “Ideate”,
                    “Prototype”, and “Launch”, to develop innovations from idea
                    to sustainable solutions in the manner of months. Innovators
                    competing in the challenges will have access to training,
                    mentors  and the Hyperledger community to support the
                    development of their solution.  The Hyperledger community is
                    committed to be a driving force to incorporating Diversity,
                    Civility, and Inclusion into programs. Innovators are
                    greatly encouraged to consider diversity and inclusion when
                    developing their teams.</p>
                
                <p>The Hyperledger Foundation hosts a number of enterprise-grade
                    blockchain software projects. The projects are conceived and
                    built by the <a href="https://start-here.hyperledger.org/community.html">developer community</a>
                    for vendors, end user organizations, service providers,
                    start-ups, academics and others to use to build and deploy
                    blockchain networks or commercial solutions. This challenge
                    will feature:</p>

                <ul>
                    <li>A network of support for future innovators to advance
                        the current state-of-the art of enterprise-grade
                        distributed ledger technologies.</li>
                    <li>A place to partner with similar entrepreneurs, to
                        connect with leading experts, to learn, to scale up,
                        and to achieve real impact in the world.</li>
                </ul>

                <p>The Hyperledger Foundation is committed to creating a safe
                    and welcoming community for all. Therefore, all innovators
                    of the Hyperledger Challenge are requested to visit the
                    Hyperledger Code of Conduct and Antitrust Policy Notice.</p>

                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>

<!--
                <div class="video"><iframe src="" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br>
-->
                 <center><a href="https://wiki.hyperledger.org/display/events/Submissions" class="page-scroll btn btn-xl">Registrations Open</a></center>
            </div>
        </div>
    </section>
