<!DOCTYPE html>
<html>

  {% include 2022_data/head.html %}


    <body id="page-top" class="index">

    {% include 2022_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Hyperledger Challenge 2022<br></div>
                <div class="intro-lead-in">18 January - 2 August 2022</div>
                <div class="intro-lead-in">A challenge like never before</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2022_data/intro.html %}
    {% include 2022_data/organizers.html %}
    {% include 2022_data/about.html %}
    {% include 2022_data/sponsors.html %}
    {% include 2022_data/contact.html %}
    {% include 2022_data/footer.html %}
    {% include 2022_data/organizers_info.html %}
    {% include 2022_data/js.html %}

    </body>
</html>
